# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
tmpclaude-8ec2-cwd
tmpclaude-67be-cwd
tmpclaude-4b3f-cwd
tmpclaude-26eb-cwd
tmpclaude-7553-cwd
tmpclaude-9f03-cwd
tmpclaude-ae96-cwd
tmpclaude-bb54-cwd
tmpclaude-f055-cwd
